* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
	padding: 0;
  font-family: Arial;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  background-color: #cdccc87b;
  position: relative; /* added */
  text-align: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
}

nav li:hover {
  background-color: #9e8a48a0;
  color: #333;
  border-radius: 4px;
}


main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li {
  width: 45%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(244, 8, 8, 0.1);
  position: relative; 
}

li img {
  width: 100%;
  margin-bottom: 10px;
}

li h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

li p {
  margin-bottom: 10px;
}

button {
  background-color: #5c5a4f;
  color: #fff;
  border: none;
  padding: 0px 19px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  color: #333;
  border: 1px solid #333;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 100%;
  min-width: 100%;
}

input[type="datetime-local"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #95d848;
  color: #333;
  border: 1px solid #333;
}

button[type="edit"] {
  background-color: #9f905e;
  color: #000000;
  border: none;
  padding: 0% 0%;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
}


button[type="edit"]:hover {
  background-color: #95d848;
  color: #333;
  border: 1px solid #333;
}

button[type="edit2"] {
  background-color: #9f905e;
  color: #000000;
  border: none;
  padding: 1% 0%;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
}

button[type="edit2"]:hover {
  background-color: #ee9919;
  color: #333;
  border: 1px solid #333;
}

button[type="edit3"] {
  background-color: #9f905e;
  color: #000000;
  border: none;
  padding: 4% 3%;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
}

button[type="edit3"]:hover {
  background-color: #e81212;
  color: #faf8f8;
  border: 1px solid #333;
}

button[type="edit4"] {
  background-color: #9f905e;
  color: #000000;
  border: none;
  padding: 4% 3%;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
}

button[type="edit4"]:hover {
  background-color: #95d848;
  color: #000000;
  border: 1px solid #333;
}


.block {
  margin: 25px auto;
	width: 700px;
	background-color: #cdccc8c4;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.block1 {
  margin-bottom: 20px;
  background-color: rgba(221, 218, 218, 0.647);;
  border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(221, 218, 218, 0.299);
	text-align: center;
}


.blockUsers {
  margin: 1% 2%;
  width: 30%;
  background-color: #cdccc8c4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  justify-content: space-between; /* Rozmieszczenie elementów na przeciwnych końcach kontenera */
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
}

.blockUsers p {
  margin-bottom: 1px; /* Możesz dostosować wartość odstępu według potrzeb */
}



.h2 {
	text-align: left; 
	margin-top: 20px;
}

h3 {
	text-align: left; 
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 22px;
  background-color: #333;
  color: #fff;
  padding: 2px;
  text-align: center;
}

.container {
	margin: 50px auto;
	width: 350px;
	background-color: #cdccc8;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.container2 {
	margin: 40px auto;
	width: 700px;
	background-color: #cdccc8c4;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.container4 {
	margin: 100px auto;
	width: 30%;
	background-color: #cdccc8c4;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	background-color: #5c5a4f;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%; 
}

button:hover {
	background-color: #9e8a48;
}

.Parent {
  position: relative;
  display: inline-block;
}

.Child {
  position: absolute;
  top:100%;
  left: 0px;
  display: none;
  width: 100%; 
  background-color: #cdccc87b; 
  border-radius: 4px; 
  padding: 5px; 
}

.Child a {
  display: block;
  margin: 1px 0px;
  color: #000000;
  font-size: 18px;
  font-weight: normal; 
  text-align: center;
}

.Child a:hover {
  background-color: #9e8a48a0;
  border-radius: 4px;
}

.Parent:hover .Child {
  display: block;
  background-color: #cdccc87b;
}

.col {
  flex-basis: 23%;
  position: relative;
  margin: 80px auto;
  background-color: #a9a9a9d6;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 90vh;
}

.col2 {
  flex-basis: 15%;
  position: relative;
  margin: 50px auto;
  background-color: #a9a9a9d6;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 40vh;
}

.col3 {
  background-color: #abababd6;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0; /* dodane odstępy między wierszami */
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.container4 {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 0% 1%;
}

.container5 {
  padding: 2% 5%;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box; /* Dodaj ten styl */

}

table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 2%;
  margin-left: 5%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.image-container {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.big-image {
  top: 2%;
  right: 2%;
  left: 2%;
  height: 90%;
  flex-basis: 90%;
}

.small-images {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.small-image {
  max-width: 70%;
  margin: -20px;
}

#arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}
#arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
}

.popup {
display: none;
position: fixed;
top: 15%;
left: 15%;
width: 70%;
height: 70%;
background-color: white;
padding: 20px;
z-index: 3;
overflow: auto;
border-radius: 10px;
}

.popup_1 {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 50%;
  background-color: white;
  padding: 20px;
  z-index: 3;
  overflow: auto;
  border-radius: 10px;
  }

.close-button {
bottom: 2px;
}

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1;
display: none;
}

.popup-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 33%;
  height: 66%;
}

.ordercancelationpopup {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 33%;
  background-color: white;
  padding: 20px;
  z-index: 3;
  overflow: auto;
  border-radius: 30px; 
}

.personal{
  margin-right: 10px; 
  width: 70px; 
  text-align: center;
}

.personal button{
  margin-right: 10px; 
  width: 70px; 
  text-align: center;
}

.msg {
  border: 2px solid #ef1616;
  border-radius: 3xp;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.msg2 {
  border: 2px solid #53f010;
  border-radius: 3xp;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}